p {
    color: darkblue;
    font-size: 16px;
    text-shadow: greenyellow;
}

body {
    margin: 0;
    background: gainsboro;
    text-align: left;
    text-shadow: chartreuse;
    text-decoration: darkblue;
}