body {
    margin: 0;
    background: gainsboro;
    text-align: left;
    text-shadow: chartreuse;
    text-decoration: rgb(231, 14, 6);
}

h1 {
    color: #0000ff;
    font-size: medium;
    text-align: center;
}

p {
    color: darkblue;
    font-size: 16px;
}
